@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center start;
    text-align: center start;

    padding: 10px;
    position: relative;
    overflow-x: hidden;
}




button{

    margin-top: 6px;
    background: rgb(243, 98, 122);
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    border: none;
    border-radius: 2px;
    height: 2rem;
    width: 8rem;

    box-shadow: inset 0 0 0 0 rgb(243, 98, 122);
    transition: ease-in 0.3s;
}

button:hover{

    box-shadow: inset 8rem 0 0 0 white;
    border: 1px solid black;
    color: rgb(90, 89, 89);
    cursor: pointer;
}

button:focus {

    background: rgb(243, 98, 122);
}

#delete-btn {

    background: rgb(243, 98, 122);
}

img {

    width: 5rem;
    height: 5rem;
    border-radius: 50px;

    position: absolute;
    top: 10px;
    left: 10px;
    

}



main {

    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0 0 0 6rem;

}


main input {

    width: 100%;
    height: 2rem;
    border: 1px solid rgb(243, 98, 122);
    padding: 0 6px;

}
main input:hover,
:focus {

    outline: none;
    background-color: rgb(228, 228, 253);
}

.title {

    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    margin-bottom: -1rem;
}



#unorderStorage{

    margin-top: 2rem;
    list-style-type: none;

}
#unorderStorage li{

    margin-bottom: 0.6em;
}

#unorderStorage a{

    color: rgb(102, 101, 101);
    text-decoration: none;
}

#unorderStorage a:hover{

    color: rgb(243, 98, 122);
}

#unorderStorage a:visited {

    color: rgb(243, 98, 122);
}